<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Portal de notícias</title>
</head>

<body>

    <h1>Notícias</h1>


<table>
<tr>
<td>id</td>
<td>titulo</td>
<td>noticia</td>
</tr>


</table>

</body>

</html>